/* Menu hamburger */
.mainMenu {
  height: 100vh;
  position: fixed;
  top: -110vh;
  left: 0;
  right: 0;
  @include flex($center: true, $direction: column);
  gap: 40px;
  transition: top 0.8s ease;
  background-color: $bg-second;

  li a {
    font-size: 2.5rem;
    color: $text-principal;
  }
}

/* Iconos */
.social-net {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  a i {
    margin-right: 5px;
    transition: color 0.5s ease-out;
  }
  a:hover i {
    color: #7a7ad6;
  }
}
