// Colores
$text-light: #fff;
$text-principal: #9ca3af;
$text-hover: #7a7ad6;
$text-bold: #be185d;

$bg-principal: #111827;
$bg-second: #161f2d;
$bg-form: #1f2937;
$bg-succes: #4fc08d;
$bg-error: #cb3837;

$color-second: #4f46e5;
