/* ABOUT */
.about__img {
  @include flex($center: true);
  text-align: center;
  color: $color-second;
  position: relative;
  top: -30px;

  span {
    font-size: 400px;
    transition: text-shadow 1s;
    &:hover {
      text-shadow: 0px 0px 20px rgba(79, 70, 229, 0.7);
    }
  }
}

.about__info h3 {
  max-width: 350px;
  margin: 30px 0;
  font-weight: initial;
  font-size: 1.5em;
  font-style: italic;
}

.about__info p {
  font-size: 18px;
  font-style: italic;
}

@media (min-width: 280px) and (max-width: 768px) {
  .about__img span {
    margin-top: 40px;
    font-size: 10rem;
  }
}
