#contact {
  background-color: $bg-second;
  height: 100vh;
  margin: 0 auto;
  .container {
    @include flex($center: true);
    height: 100%;
  }
  .contact-principal {
    width: 100%;
  }
}

.contact-form {
  margin: 0 auto;
  width: 50%;
}

.form-name,
.form-email,
.form-message {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    border: none;
    background: $bg-form;
    border: 2px solid #374151;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    color: $text-principal;
    &:focus {
      outline: none;
      border-color: $color-second;
      box-shadow: 0px 0px 5px 0px $color-second;
    }
  }
}

.form-ready {
  border: 2px solid $color-second !important;
  box-shadow: 0px 0px 5px 0px $color-second !important;
}

.message {
  resize: none;

  height: initial !important;
}

.form-submit {
  @include flex($center: true, $direction: row);
}

.form-submit button {
  color: $text-light;
  border: none;
  padding: 15px;
  background-color: $color-second;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  transition: opacity 0.5s ease-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.contact-icon {
  @include flex($center: true);

  i {
    font-size: 200px;
    color: $color-second;
    transition: text-shadow 1s;
    &:hover {
      text-shadow: 0px 0px 20px rgba(79, 70, 229, 0.7);
    }
  }
}

.msg-succes,
.msg-error {
  margin: 20px auto;
  width: 50%;
  @include flex($center: true);
  padding: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: relative;
  top: 70px;
  opacity: 0;
}

.msg-animated {
  animation: getIn 2s forwards;
}

.msg-succes {
  background-color: $bg-succes;
}

.msg-error {
  background-color: $bg-error;
}

@keyframes getIn {
  from {
    top: 70px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes getOut {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 70px;
    opacity: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact {
    height: 100%;
  }
  .contact-form {
    width: 90%;
  }
  .msg-succes,
  .msg-error {
    width: 90%;
  }
}

@media (min-width: 280px) and (max-width: 767px) {
  .contact-form {
    width: 90%;
  }
  .form-submit button {
    width: 100%;
  }
  .contact-icon {
    display: none;
  }
  .msg-succes,
  .msg-error {
    width: 90%;
  }
}
