/* NavBar */
header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

html.isMenuOpen .closeMenu {
  visibility: initial;
}

.isMenuOpen {
  overflow: hidden;
}

.showMenu {
  top: 0 !important;
}

.openMenu,
.closeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 3px solid #7a7ad6;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.openMenu {
  position: fixed;
  right: 5%;
}

.openMenu i,
.closeMenu i,
.mainMenu li a {
  transition: color 0.3s ease;
}

.openMenu:hover > i,
.closeMenu:hover > i,
.mainMenu li a:hover {
  color: $text-hover;
}

.closeMenu {
  position: absolute;
  top: 5%;
  right: 5%;
  visibility: hidden;
}
