/* Hero */

main {
  height: 100%;
}

.bg {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

.bg-1 {
  right: 0;
  background: url(../img/bg-1.svg) no-repeat left center;
}

.bg-2 {
  left: 0;
  background: url(../img/bg-2.svg) no-repeat right center;
}

.hero {
  @include flex($center: true);
  height: 100vh;
  color: #fff;
  background-color: #161f2d;

  .hero__title {
    z-index: 1;
    max-width: 80%;
    h1 {
      font-weight: 800;
    }
  }
}
