.proyects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.proyects__items {
  width: 100%;
  height: max-content;
  border-radius: 5px;
  border: 3px solid rgba(31, 41, 55, 0.5);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 10px;
  padding: 25px;

  img {
    padding: 5px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
  }
}

.item {
  .item__title {
    color: $text-light;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .item__description {
    margin-bottom: 20px;
  }

  .item__languages {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    P {
      font-weight: bold;
      color: #fff;
      padding: 10px 15px;
      background-color: $text-hover;
      border-radius: 10px;
    }
  }
  .item__src {
    a {
      font-weight: bold;
      color: #fff;
      padding: 10px 15px;
      border-radius: 10px;
      background: linear-gradient(270deg, #10b981, #12eca4);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 280px) and (max-width: 1024px) {
  .proyects {
    @include flex($center: true, $direction: column);
  }
  .proyects__items {
    flex-direction: column;
    height: max-content;
    img {
      width: 90%;
      height: 90%;
    }
  }
  .item__title {
    text-align: center;
  }
  .item__src,
  .item__languages {
    @include flex($center: true);
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
